name: Docker image build

on:
  push:
    branches: [ "master" ]

jobs:
  docker:
    runs-on: ubuntu-latest
    concurrency: docker-${{ github.ref }}-${{ matrix.docker-file }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - docker-file: "./Dockerfile.php.8.1"
            image-tag-suffix: "-php8.1"
          - docker-file: "./Dockerfile.php.8.2"
            image-tag-suffix: "-php8.2"
          - docker-file: "./Dockerfile.php.8.3"
            image-tag-suffix: "-php8.3"
          - docker-file: "./Dockerfile.php.8.4"
            image-tag-suffix: "-php8.4"
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Login to ghcr
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: "${{ matrix.docker-file }}"
          push: true
          tags: "ghcr.io/sgoettsch/docker-phpstan:latest${{ matrix.image-tag-suffix }}"
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha, scope=${{ github.workflow }}
          cache-to: type=gha, scope=${{ github.workflow }}
